---
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/ContactForm.astro";
---

<Layout>
  <!-- <ContactForm /> -->
</Layout>

<section class="om grid-tre">
  <div class="padding"></div>
  <div class="om-tekst">
    <h2>Vores historie</h2>
    <p>
      Vin med Dans startede med tre venner, en fælles kærlighed til frugtvin –
      og en drøm om at gøre vinoplevelsen mere levende og mindre højtidelig. <br
      />
      <a class="desk" href="https://www.instagram.com/vinmeddans.dk/">SE MERE</a
      >
    </p>
    <div class="se-mere-container">
      <a class="se-mere-text" href="https://www.instagram.com/vinmeddans.dk/"
        >SE MERE</a
      >
      <div class="se-mere-linje"></div>
    </div>
  </div>
  <div class="om-billede">
    <img src="/billeder/om/team.webp" alt="Team" />
  </div>
</section>

<section class="om grid-tre">
  <div class="om-tekst">
    <h2>Bryggeri og høst</h2>
    <p>
      I en lille kælder i Rødovre har vi indrettet vores eget vinunivers. Her
      producerer vi al vores vin selv – med egne hænder, lidt improvisation og
      masser af kærlighed til råvarerne. Vi dyrker ikke noget selv, og det er
      helt med vilje. I stedet samler vi overskudsfrugt og bær fra hele Danmark
      – fra folks haver, vilde hegn, kolonihaver og baggårde.<br />
      <a class="desk" href="https://www.instagram.com/vinmeddans.dk/">SE MERE</a
      >
    </p>
    <div class="se-mere-container">
      <a class="se-mere-text" href="https://www.instagram.com/vinmeddans.dk/"
        >SE MERE</a
      >
      <div class="se-mere-linje"></div>
    </div>
  </div>
  <div class="om-billede">
    <img src="/billeder/om/pluk.webp" alt="Team" />
  </div>
</section>

<section class="om grid-tre">
  <div class="om-tekst">
    <h2>Fødevare godkendt og ude på Københavns vinbarer</h2>
    <p>
      Selvom vi brygger i en kælder i Rødovre, er der ikke noget hjemmelavet
      over kvaliteten. Vores produktion er fødevaregodkendt, og vi går op i at
      holde hele processen både sikker og gennemtænkt – fra de første plukkede
      bær til den færdige flaske. Du kan finde os på Enghave 9 og Pio Vinbar,
      hvor de sætter pris på noget, der er lidt anderledes, lokalt og lavet med
      kærlighed.<br />
      <a class="desk" href="https://www.instagram.com/vinmeddans.dk/">SE MERE</a
      >
    </p>
    <div class="se-mere-container">
      <a class="se-mere-text" href="https://www.instagram.com/vinmeddans.dk/"
        >SE MERE</a
      >
      <div class="se-mere-linje"></div>
    </div>
  </div>
  <div class="om-billede">
    <img class="bryg" src="/billeder/om/bryggeriflasker.webp" alt="Team" />
  </div>
</section>

<style>
  .desk {
    display: none;
  }
  .padding {
    margin-top: 5rem;
  }
  .bryg {
    height: 350px;
    object-fit: cover;
    object-position: bottom;
  }
  .om {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    text-align: start;
  }

  img {
    margin: 0;
  }
  h2,
  p {
    margin-left: 2rem;
    margin-right: 6rem;
    margin-bottom: 1rem;
  }
  .se-mere-boks {
    border: 1px solid #20422a;
    background: transparent;
    color: #20422a;
    width: fit-content;
    box-sizing: border-box;
    display: inline-block;
  }
  .se-mere-container {
    width: 100vw;
    margin-left: calc(-1 * (100vw - 100%) / 2);
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  .se-mere-text {
    font-family: "Nimbus Sans D OT Bold";
    margin-bottom: 1rem;
    text-decoration: none;
    margin-left: 2rem;
  }
  .se-mere-linje {
    display: block;
    min-width: 100vw;
    height: 1px;
    background: #20422a;
    border: none;
    margin: 0;
    padding: 0;
  }
  .om.grid-tre {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 700px) {
    .bryg {
      height: 516px;
      object-fit: cover;
      object-position: bottom;
    }
    .padding {
      margin-top: 1.9rem;
    }
    .tre-kolonner {
      flex-direction: row;
      gap: 0;
    }
    .tre-kolonner .om-tekst {
      flex: 1 1 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2rem;
    }
    .tre-kolonner .om-billede {
      flex: 1 1 0;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2rem 0;
    }
    .tre-kolonner .om-billede img {
      width: 100%;
      height: auto;
      max-width: 350px;
      object-fit: cover;
      border-radius: 0.5rem;
    }

    .om.grid-tre {
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: center;
      gap: 0;
      margin: 0;
    }
    .om.grid-tre .om-tekst {
      grid-column: 1 / 2;
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .om.grid-tre .om-billede {
      grid-column: 2 / 4;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .om.grid-tre .om-billede img {
      width: 100%;
      object-fit: cover;
    }

    .se-mere-container {
      margin-top: 20rem;
    }

    .desk {
      display: block;
      position: absolute;
      font-family: "Nimbus Sans D OT Bold";
      margin-top: 20rem;
      text-decoration: none;
    }
  }
</style>
