---
import Layout from "../layouts/Layout.astro";

import Footer from "../components/Footer.astro";
---

<Layout>
  <h1>About Us</h1>
  <p>This is the about page.</p>
  <p>We are a company that specializes in fruit wines.</p>
  <p>Our mission is to provide the best fruit wines in the market.</p>
</Layout>
<Footer />
