---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Dansk produceret frugtvin</h1>

  <h2>Forfriskende lokal frugtvin</h2>
  <h3>Produktionen</h3>
  <p>Lorem ipsum dolor sit amet</p>
  <a href="">Læs mere</a>
</Layout>
