---
import Layout from "../layouts/Layout.astro";
import UpcomingEventCard from "../components/UpcomingEventCard.astro";
import PreviousEventCard from "../components/PreviousEventCard.astro";
import BackToFront from "../components/BackToFront.astro";
---

<BackToFront />

<Layout title="Events">
  <section class="events-intro">
    <div class="intro-wrapper section-fade">
      <div class="intro-text section-fade">
        <h1 class="intro-title">Events og <br /> pop-up´s</h1>
        <p>
          Vi dukker op, hvor det sker – med vin i glasset og god stemning. Smag
          vores frugtvin til pop-ups, fester og markeder rundt omkring i byen.
          Følg med her, eller på Instagram og kom forbi.
        </p>
      </div>
      <img
        width="173"
        height="171"
        src="/illustrationer/ko.svg"
        alt="Lyserød ko"
        class="intro-image"
        loading="lazy"
      />
    </div>
  </section>

  <h1 class="section-title top">Kommende events:</h1>

  <UpcomingEventCard
    date="28"
    month="Juni"
    title="Moon Club x Vin med dans"
    description="“Når vinen flyder danser benene af sig selv?” For at skyde sommeren i gang på bedste manér har vi nu aftalt med vores gode venner for enden af søerne om en aften på terrassen og vi tænker da du skal med!"
    imageUrl="/billeder/events/moonclub.webp"
    imgWidth="900"
    imgHeight="1129"
  />

  <UpcomingEventCard
    date="05"
    month="August"
    title="Aiayu Market x Vin med dans"
    description="“Livet er for kort til dårlig vin og kedelige kaffeklubber”. Derfor har vi valgt at gå kontra og igen gå sammen med skønne Aiayu market og kommer og serverer for alle jer der komme til “strikke salon” koncept i nordhavn. Tag en ven, veninde eller fremmed med under armen og kom!"
    imageUrl="/billeder/events/aiayu.webp"
    imgWidth="347"
    imgHeight="428"
  />

  <h2 class="section-title">Tidligere events:</h2>

  <PreviousEventCard
    date="14"
    month="Marts"
    title="Politikken Festival"
    description="For en måneds tid siden fik vi lov til at præsentere vores Havtorben til Politiken Festival 2025. Det var en kæmpe fornøjelse, og så skønt at møde så mange nysgerrige mennesker, der heldigvis tog godt imod både os og vores frugtvin Tak til Politiken for muligheden, og for alle de søde ord vi fik fra publikum"
    imageUrl="/billeder/events/politiken.webp"
    imgWidth="337"
    imgHeight="428"
  />

  <PreviousEventCard
    date="24"
    month="Februar"
    title="Finders Keepers"
    description="“Form følger funktion – men i vin følger formen ofte fornøjelsen” så mens du bliver inspireret af nogle af de dygtigste designere københavn har at tilbyde, kan du da lige så godt svinge forbi vores bod i til Finders Keepers i øksenhallen. "
    imageUrl="/billeder/events/finderskeepers.webp"
    imgWidth="337"
    imgHeight="428"
  />
</Layout>

<style>
  html {
    scroll-behavior: smooth;
  }
  .section-title {
    font-family: "Nimbus Sans D OT Bold";
    font-size: 1rem;
    color: #32473a;
    padding: 1rem;
    border-top: 1px solid #32473a;
    /* border-bottom: 1px solid #32473a; */

    text-transform: uppercase;
    width: 100vw;
  }

  .events-intro {
    position: relative;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0;
    margin-bottom: 2rem;
  }

  .intro-wrapper {
    max-width: 100%;
    padding: 0 4rem;
  }

  .intro-text h1 {
    font-family: "Nimbus Sans D OT Bold";
    font-size: 2.5rem;
    color: #32473a;
    margin-top: 2rem;
    margin-left: -2.5rem;
  }

  .intro-text p {
    font-family: "Nimbus Sans D OT Light";
    font-size: 1rem;
    color: #32473a;
    margin-top: 1rem;
    max-width: 25ch;
    margin-left: -2.5rem;
  }

  .intro-image {
    position: absolute;
    transform: scaleX(-1);
    width: 198px;
    margin-left: 7rem;
    margin-top: -15rem;
  }

  @media (min-width: 800px) {
    .intro-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .intro-image {
      position: static;
      width: 200px;
      transform: scaleX(-1);
      margin-top: 5rem;
    }

    .intro-text p {
      max-width: 60ch;
    }
  }

  .section-fade {
    opacity: 0;
    transform: translateY(40px);
    transition:
      opacity 0.8s cubic-bezier(0.4, 0, 0.2, 1),
      transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .section-fade.visible {
    opacity: 1;
    transform: translateY(0);
  }
  .section-title {
    font-family: "Nimbus Sans D OT Bold";
    font-size: 1rem;
    color: #32473a;
    padding: 1rem;
    border-top: 1px solid #32473a;
    border-bottom: 1px solid #32473a;

    text-transform: uppercase;
    width: 100vw;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add("visible");
          }
        });
      },
      { threshold: 0.15 },
    );

    document.querySelectorAll(".section-fade").forEach((section) => {
      observer.observe(section);
    });
  });
</script>
