---
//@ts-nocheck
import Layout from "../layouts/SingleLayout.astro";
import ListView from "../components/ListView.astro";
import ProductCard from "../components/ProductCard.astro";
import BackToFront from "../components/BackToFront.astro";
import Footer from "../components/Footer.astro";
const { wine } = Astro.props;
const url =
  "https://qzicyulyspuzkhmcmnay.supabase.co/rest/v1/Wines?select=title,description,price,img2,img3,wine_slug,img2width,img2height,img3width,img3height,height1,height2,height3";
const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF6aWN5dWx5c3B1emtobWNtbmF5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc2NTE3OTUsImV4cCI6MjA2MzIyNzc5NX0.tjA9s7JYKXVUuiThidnFet8gLAZLq3qKwr9tZvAAyBY";
const options = {
  headers: { apikey: key },
};
const data = await fetch(url, options).then((res) => res.json());
console.log(data);
---

<BackToFront />

<Layout title="Vine">
  <div class="teaser">
    <h3>Køb vin med dans</h3>
    <p>
      Vin med Dans’ frugtvin er for dig som holder af smagene fra den danske
      sommers natur og vin med bobler.
    </p>
  </div>

  <ListView>{data.map((wine) => <ProductCard {wine} />)}</ListView>

  <img
    loading="lazy"
    width="1208 px"
    height="1520 px"
    class="himmelvin"
    src="../billeder/produktbilleder/flaskehimmel.webp"
    alt="Himmelvin"
  />
  <Footer />
</Layout>

<style>
  html {
    scroll-behavior: smooth;
  }

  body {
    overflow-x: hidden;
    min-width: 430px;
  }
  .himmelvin {
    width: 100vw;
  }

  .teaser {
    padding: 2rem 4rem 3rem 4rem;
    width: 27rem;
  }

  .teaser h3 {
    padding-bottom: 1rem;
    padding-top: 8rem;
  }

  @media (min-width: 700px) {
    .teaser {
      width: 35rem;
      padding: 3rem 5rem 4rem 5rem;
    }
  }

  @media (min-width: 1079px) {
    .teaser {
      width: 50rem;
      padding: 4rem 13rem 5rem 13rem;
    }
  }
</style>
