---
//@ts-nocheck
import Layout from "../layouts/Layout.astro";
import ListView from "../components/ListView.astro";
import ProductCard from "../components/ProductCard.astro";
const { wine } = Astro.props;
const url = "https://qzicyulyspuzkhmcmnay.supabase.co/rest/v1/Wines?select=*";
const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF6aWN5dWx5c3B1emtobWNtbmF5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc2NTE3OTUsImV4cCI6MjA2MzIyNzc5NX0.tjA9s7JYKXVUuiThidnFet8gLAZLq3qKwr9tZvAAyBY";
const options = {
  headers: { apikey: key },
};
const data = await fetch(url, options).then((res) => res.json());
console.log(data);
---

<Layout>
  <div id="smooth-wrapper">
    <div id="smooth-content">
      <div class="teaser">
        <h3>Køb vin med dans</h3>
        <p>
          Vin med Dans’ frugtvin er for dig som holder af smagene fra den danske
          sommers natur og vin med bobler.
        </p>
      </div>

      <ListView>{data.map((wine) => <ProductCard {wine} />)}</ListView>

      <img
        class="himmelvin"
        src="../billeder/produktbilleder/flaskehimmel.webp"
        alt=""
      />
    </div>
  </div>
</Layout>

<script>
  import { gsap } from "gsap";

  import { ScrollTrigger } from "gsap/ScrollTrigger";
  // ScrollSmoother requires ScrollTrigger
  import { ScrollSmoother } from "gsap/ScrollSmoother";

  gsap.registerPlugin(ScrollTrigger, ScrollSmoother);
  // create the scrollSmoother before your scrollTriggers
  ScrollSmoother.create({
    smooth: 1, // how long (in seconds) it takes to "catch up" to the native scroll position
    effects: true, // looks for data-speed and data-lag attributes on elements
    smoothTouch: 0.1, // much shorter smoothing time on touch devices (default is NO smoothing on touch devices)
  });
  gsap.registerPlugin(ScrollTrigger, ScrollSmoother);

  // create the smooth scroller FIRST!
  let smoother = ScrollSmoother.create({
    smooth: 2,
    effects: true,
    normalizeScroll: true,
    wrapper: "#smooth-container",
    content: "#smooth-content",
  });
</script>
<style>
  .himmelvin {
    width: 100vw;
  }

  .teaser {
    padding: 2rem 4rem 3rem 4rem;
    width: 30rem;
  }

  .teaser h3 {
    padding-bottom: 1rem;
  }

  @media (min-width: 700px) {
    .teaser {
      width: 35rem;
      padding: 3rem 5rem 4rem 5rem;
    }
  }

  @media (min-width: 1079px) {
    .teaser {
      width: 50rem;
      padding: 4rem 13rem 5rem 13rem;
    }
  }
</style>
