<a href="/" class="Tilbage">
  <span class="back-text">FORSIDE</span>
  <img
    width="97"
    height="16"
    src="/icons/back.svg"
    alt="tilbage"
    loading="lazy"
  />
</a>
<style>
  .Tilbage {
    position: absolute;
    left: 1rem;
    top: 5rem;
    opacity: 0.9;
    text-decoration: none;
    z-index: 50;
  }
  .back-text {
    top: -0.6rem;
    left: 1.8rem;
    position: absolute;
    font-size: 0.8rem;
    margin: 0;
    color: #32473a;
  }
  .back-text:hover {
    color: #ffcdd8;
    font-family: "Nimbus Sans D OT Bold";
  }
  img {
    width: 5rem;
  }
  @media (min-width: 1000px) {
    img {
      width: 7rem;
    }
    .back-text {
      top: -0.6rem;
      left: 2.5rem;
      position: absolute;
      font-size: 1rem;
      margin: 0;
    }
  }
</style>
