---
import Layout from "../layouts/Layout.astro";
---

<section class="Tilbage">
  <p class="back-text">ALLE VINE</p>
  <img src="../icons/Back.svg" alt="tilbage" />
</section>
<style>
  .Tilbage {
    position: absolute;
    left: 1rem;
    width: 100vw;
    height: 100vh;
    top: 5rem;
    opacity: 0.9;
  }

  .back-text {
    top: -0.6rem;
    left: 2.3rem;
    position: absolute;
    font-size: 1rem;
    color: #32473a;
    margin: 0;
  }
  .back-text:hover {
    color: #ffcdd8;
    font-family: "Nimbus Sans D OT Bold";
  }

  img {
    width: 5rem;
  }
  @media (min-width: 1000px) {
    img {
      width: 7rem;
    }
  }
</style>
