---
const { cta } = Astro.props;
---

<div>
  <button class="box-button" id="add-to-cart">{cta}</button>
</div>

<style>
  button {
    display:;
    border: 1px solid #32473a;
    background-color: transparent;
    width: 10rem;
    justify-content: center;
    margin: 0;
  }
  button {
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    padding: 0.5rem 0.4rem 0.4rem 0.4rem;
    color: #32473a;
  }

  button:hover {
    color: #ffcdd8;
    border: 1px solid #ffcdd8;
  }

  div:hover {
    border: 1px solid #ffcdd8;
  }
</style>
