---
const { cta } = Astro.props;
---

<div>
  <p>{cta}</p>
</div>

<style>
  div {
    border: 1px solid #32473a;
    width: 10rem;
    justify-content: center;
    margin: 0;
  }
  p {
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    padding: 0.5rem 0.4rem 0.4rem 0.4rem;
  }

  p:hover {
    color: #ffcdd8;
  }

  div:hover {
    border: 1px solid #ffcdd8;
    cursor: not-allowed;
  }
</style>
