<footer>
  <div class="footer_content">
    <div class="footer-intro-age">
      <div class="intro">
        <h2>VIN MED DANS</h2>
        <p>
          Vinmageri med fokus på kvalitet, lækre råvarer og en rasende god smag.
        </p>
      </div>
      <div class="footer-age">
        <img
          width="58px"
          height="58px"
          class="age-default"
          src="/icons/plus-18.svg"
          alt="alderstegn"
          loading="lazy"
        />
        <img
          width="58px"
          height="58px"
          class="age-hover"
          src="/icons/plus-18-pink.svg"
          alt="alderstegn hover"
          loading="lazy"
        />
      </div>
    </div>
    <div class="footer-menu">
      <div class="footer-links">
        <h4>VIN MED DANS</h4>
        <ul>
          <li><a href="/productlist">Produkt</a></li>
          <li><a href="/productlist">Frugtvin</a></li>
          <li><a href="#">Tilbud</a></li>
          <li><a href="#">Galleri</a></li>
        </ul>
      </div>
      <div class="footer-shop">
        <h4>VINE</h4>
        <ul>
          <li><a href="/productlist">Shop</a></li>
        </ul>
      </div>
      <div class="footer-events">
        <h4>EVENTS</h4>
        <ul>
          <li><a href="/events">Kommende events</a></li>
          <li><a href="/events">Tidligere events</a></li>
        </ul>
      </div>
      <div class="footer-about">
        <h4>OM OS</h4>
        <ul>
          <li><a href="/about">Vores historie</a></li>
          <li><a href="/about">Kontakt os</a></li>
        </ul>
      </div>
      <img
        width="256px"
        height="322px"
        class="footer-illustration"
        src="/logo/logo-flasker.svg"
        alt="danskeflasker"
        loading="lazy"
      />
    </div>

    <div class="footer-column-icons">
      <div class="instagram">
        <a
          href="https://www.instagram.com/vinmeddans.dk/"
          target="_blank"
          rel="noopener"
        >
          <img
            width="58px"
            height="58px"
            src="/icons/instagram.svg"
            alt="instagram ikon"
            loading="lazy"
          />
          <span>@vinmeddans</span>
        </a>
      </div>
      <div class="mail">
        <a href="mailto:vinmeddans@gmail.com">
          <img
            width="58px"
            height="58px"
            src="/icons/mail.svg"
            alt="mail ikon"
            loading="lazy"
          />
          <span>vinmeddans@gmail.com</span>
        </a>
      </div>
    </div>
  </div>
</footer>

<div class="marquee">
  <p>
    Hvis du får muligheden for at drikke frugtvin, så smag vores. Hvis du får
    muligheden for at drikke frugtvin, så smag vores. Hvis du får muligheden for
    at drikke frugtvin, så smag vores. Hvis du får muligheden for at drikke
    frugtvin, så smag vores.
  </p>
</div>

<style>
  /* Footer styles  til mobil*/

  /* selve footeren */
  footer {
    background-color: transparent;
    height: 100%;
    width: 100vw;
    margin: 0 auto;
    display: flex;
    border: 1px solid #32473a;
    padding-top: 10px;
    min-height: unset;
    overflow: visible;
  }

  /*inholdet i footeren*/
  .footer_content {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 100%;
    background: #f9fcf7;
    border: none;
  }

  .footer-intro-age {
    display: contents;
  }

  .intro h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #32473a;
    margin: 5px 10px 5px 0;
    padding-left: 10px;
  }
  .intro p {
    font-size: 1rem;
    margin: 0;
    padding-left: 10px;
  }

  .footer-age img {
    justify-self: end;
    width: 70px;
    height: auto;
    padding-top: 5px;
    box-sizing: border-box;
    padding-right: 10px;
  }
  /* footer alderstegn hover */
  .footer-age .age-hover {
    display: none;
  }
  .footer-age:hover .age-default {
    display: none;
  }
  .footer-age:hover .age-hover {
    display: block;
  }

  .intro,
  .footer-age {
    border-bottom: 1px solid #32473a;
    padding: 5px;
  }
  /* footer menu links og ikoner */
  .footer-menu {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: auto auto;
    gap: 2px;
    height: 91.5%;
  }
  /* VIN MED DANS LINKS*/
  .footer-links {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    padding-top: 1rem;
    padding-left: 1rem;
  }
  /* VIN MED DANS SHOP*/
  .footer-shop {
    grid-column: 1;
    grid-row: 2;
    padding-left: 2rem;
    padding-top: 1rem;
  }
  /* VIN MED DANS EVENTS*/
  .footer-events {
    grid-column: 2;
    grid-row: 1;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-left: 1rem;
  }
  /* VIN MED DANS OM OS*/
  .footer-about {
    grid-column: 2;
    grid-row: 2;
    padding-right: 1rem;
    padding-top: 1rem;
  }
  /* TEKST STYLING AF LINKS*/
  .footer-links h4,
  .footer-shop h4,
  .footer-events h4,
  .footer-about h4 {
    margin: 0 0 10px 0;
    font-size: 1rem;
    font-weight: bold;
  }

  .footer-links ul,
  .footer-shop ul,
  .footer-events ul,
  .footer-about ul,
  .footer-links li,
  .footer-shop li,
  .footer-events li,
  .footer-about li,
  .footer-links a,
  .footer-shop a,
  .footer-events a,
  .footer-about a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: 0.8rem;
    line-height: 1.5;
  }

  .footer-menu a:hover {
    color: #ffcdd8;
    text-decoration: underline;
  }
  /* STYLING OG PLACERING AF IKONER*/
  .footer-column-icons {
    grid-column: 2;
    grid-row: 2;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0px;
  }

  .footer-column-icons span {
    display: none;
  }

  .footer-column-icons img {
    width: 60px;
    height: auto;
    box-sizing: border-box;
    margin-top: 1rem;
  }
  /* PLACERING AF LOG-ILLUSTRATION*/
  .footer-illustration {
    grid-column: 3;
    grid-row: 2;
    width: 100px;
    height: auto;
    min-height: 120px;
    align-self: end;
    justify-self: start;
    margin: 5px;
    padding-left: 5px;
  }
  /* PLACERING AF MARQUEE  EFFEKT */
  .marquee {
    grid-column: 1 / 3;
    width: 100%;
    border-bottom: 1px solid #32473a;
    padding: 5px 0;
    background: transparent;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
  }

  /* STYLING AF MARQUEE  EFFEKT */
  .marquee p {
    font-size: 2rem;
    font-weight: bolder;
    display: inline-block;
    min-width: 100%;
    padding-left: 100%;
    animation: marquee 30s linear infinite;
    white-space: nowrap;
  }
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @media (min-width: 768px) {
    footer {
      height: 200px;
      padding-top: 0;
      width: 100vw;
      margin: 0 auto;
      background-color: #f9fcf7;
      z-index: 1000;
    }

    .footer_content {
      grid-template-columns: 1fr 1fr 1fr;
      height: auto;
    }

    .footer-intro-age {
      display: grid;
      grid-template-columns: 1fr auto;
      height: 200px;
      border-right: 1px solid #32473a;
    }

    .intro,
    .footer-age {
      border-bottom: 0;
    }

    .footer-age img {
      padding-top: 100px;
    }
    .footer-menu {
      grid-column: 3;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 0;
      column-gap: 2px;
      row-gap: 2px;
      border-left: 1px solid #32473a;
    }

    .footer-column-icons {
      grid-column: 2;
      grid-row: 1;
      justify-self: center;
      align-items: center;
      place-self: center;
      text-decoration: none;
    }

    .footer-column-icons span {
      display: flex;
    }

    .footer-shop {
      grid-column: 2;
      grid-row: 1;
    }

    .footer-events {
      grid-column: 3;
      grid-row: 1;
    }
    .footer-about {
      grid-column: 4;
      grid-row: 1;
      z-index: 10;
    }

    .footer-illustration {
      grid-column: 4;
      grid-row: 1;
      margin-top: 90px;
      width: 70px;
      height: auto;
      z-index: 0;
    }

    .instagram,
    .mail {
      /* position: relative; */
      display: flex;
      align-items: baseline;

      padding: 0px;
      margin: 0px;
    }

    .instagram img {
      width: 40px;
      display: flex;
      padding: 0px;
      margin: 0px;
    }

    .mail img {
      width: 40px;
      display: flex;
      padding: 0px;
      margin: 0px;
    }

    .instagram a {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .mail a {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-top: 0.8rem;
    }
  }
</style>
