---
//@ts-nocheck
const { ProductName } = Astro.props;
const { ProductImgUrl } = Astro.props;
---

<div>
  <div>
    <h3>{ProductName}</h3>
    <h3>10,5% alc.</h3>
  </div>
  <img src={ProductImgUrl} alt=" " />
</div>
