/*  FARVE VARIABLER */

root {
  --main: #fafcf7;
  --accent: #32473a;
  --bubblegum: #ffcdd8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fafcf7;
  margin: 0 auto;
  max-width: 100vw;
}

img {
  width: 100%;
  height: auto;
  display: block;
  transition: all 0.5s ease-in-out;
}
/*  FONTS */

@font-face {
  font-family: "Nimbus Sans D OT Light";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/nimbus-sans-d-ot-webfont/Nimbus-Sans-D-OT-Light_32752.woff")
    format("woff");
}

@font-face {
  font-family: "Nimbus Sans D OT Bold";
  font-style: normal;
  font-weight: normal;
  src:
    local("Nimbus Sans D OT Bold"),
    url("fonts/nimbus-sans-d-ot-webfont/Nimbus-Sans-D-OT-Bold_32747.woff")
      format("woff");
}

@font-face {
  font-family: "Nimbus Sans L Condensed";
  src:
    url("fonts/nimbus-sans-l-webfont/NimbusSanL-ReguCond.woff2") format("woff2"),
    url("fonts/nimbus-sans-l-webfont/NimbusSanL-ReguCond.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nimbus Sans L Condensed Bold";
  src:
    url("fonts/nimbus-sans-l-webfont/NimbusSanL-BoldCond.woff2") format("woff2"),
    url("fonts/nimbus-sans-l-webfont/NimbusSanL-BoldCond.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* FONT STYLING */

h1,
h2,
h3,
li {
  font-family: "Nimbus Sans D OT Bold";
  color: #32473a;
  font-weight: 100;
  transition: all 0.5s ease-in-out;
}

h3,
li {
  text-transform: uppercase;
}

p,
a {
  font-family: "Nimbus Sans D OT Light";
  color: #32473a;
  transition: all 0.5s ease-in-out;
}

a {
  text-decoration: underline;
  text-underline-offset: 0.4rem;
}

a:hover {
  color: #ffcdd8;
}

/* Dato font til eventside */
h4 {
  font-family: "Nimbus Sans L Condensed Bold";
  color: #32473a;
  font-weight: 100;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 0.8rem;
}

p,
a {
  font-size: 0.8rem;
}

/* DESKTOP FONT SIZES */

@media (min-width: 1079px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 0.9rem;
  }

  p,
  a {
    font-size: 0.9rem;
  }
}
